vignettes/08_HNSCC_scTCRseq_Generic_analysis.html filter=lfs diff=lfs merge=lfs -text
vignettes/aimed_analysis/bald_analysis.html filter=lfs diff=lfs merge=lfs -text
vignettes/aimed_analysis/velocity_analysis.nb.html filter=lfs diff=lfs merge=lfs -text
vignettes/01_HNSCC_Dataset_Preprocessing.html filter=lfs diff=lfs merge=lfs -text
vignettes/05_HNSCC_Transcription_Factor_analysis.html filter=lfs diff=lfs merge=lfs -text
vignettes/07_HNSCC_scTCRseq_TCR_gene_expression.html filter=lfs diff=lfs merge=lfs -text
vignettes/aimed_analysis filter=lfs diff=lfs merge=lfs -text
vignettes/aimed_analysis/velocity_analysis_2.nb.html filter=lfs diff=lfs merge=lfs -text
vignettes/02_HNSCC_Cluster_vis.html filter=lfs diff=lfs merge=lfs -text
vignettes/06_HNSCC_scTCRseq_dataset_Preprocessing.html filter=lfs diff=lfs merge=lfs -text
vignettes/09_HNSCC_scTCRseq_Circos_analysis.html filter=lfs diff=lfs merge=lfs -text
vignettes/aimed_analysis/bald_analysis_velocity.nb.html filter=lfs diff=lfs merge=lfs -text
vignettes/10_HNSCC_scTCRseq_Tracking_stimulatable_clones.html filter=lfs diff=lfs merge=lfs -text
vignettes/03_HNSCC_DEG_analysis.html filter=lfs diff=lfs merge=lfs -text
vignettes/04_HNSCC_Cell_Cell_interaction_scRNAseq_analysis.html filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample1_US/features.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample2_US_summary.html filter=lfs diff=lfs merge=lfs -text
data/archive filter=lfs diff=lfs merge=lfs -text
data/archive/melanoma_Sade_Feldman_Cell_2018 filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample1_US/barcodes.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample2_US/features.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample4_Stim/barcodes.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample4_Stim/features.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/archive/Trex_CD8_TCR_seurat.h5Seurat filter=lfs diff=lfs merge=lfs -text
data/tcr_data/sample3_web_summary.html filter=lfs diff=lfs merge=lfs -text
data/tcr_data/sample4_filtered_contig_annotations.csv filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample2_US/barcodes.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample4_Stim filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample4_Stim/matrix.mtx.gz filter=lfs diff=lfs merge=lfs -text
data/tcr_data filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample2_US/matrix.mtx.gz filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample1_US_summary.html filter=lfs diff=lfs merge=lfs -text
data/archive/cell_cycle_input_dataset filter=lfs diff=lfs merge=lfs -text
data/archive/secretome filter=lfs diff=lfs merge=lfs -text
data/tcr_data/sample1_filtered_contig_annotations.csv filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample3_Stim/matrix.mtx.gz filter=lfs diff=lfs merge=lfs -text
data/archive/pbmcs_multimodal_reference_CD8_and_otherT.h5seurat filter=lfs diff=lfs merge=lfs -text
data/tcr_data/sample4_web_summary.html filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample2_US filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample4_Stim_summary.html filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample3_Stim/barcodes.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample3_Stim_summary.html filter=lfs diff=lfs merge=lfs -text
data/tcr_data/sample1_web_summary.html filter=lfs diff=lfs merge=lfs -text
data/tcr_data/sample2_filtered_contig_annotations.csv filter=lfs diff=lfs merge=lfs -text
data/tcr_data/sample2_web_summary.html filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample3_Stim filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample1_US/matrix.mtx.gz filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample3_Stim/features.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/tcr_data/sample3_filtered_contig_annotations.csv filter=lfs diff=lfs merge=lfs -text
data/10X_GEX_data/sample1_US filter=lfs diff=lfs merge=lfs -text
saves/CD8_seurat.h5Seurat filter=lfs diff=lfs merge=lfs -text
saves/CD8_seurat_tcr.h5Seurat filter=lfs diff=lfs merge=lfs -text
saves/CD8_seurat_tcr_filt.h5Seurat filter=lfs diff=lfs merge=lfs -text
saves/Innate_seurat.h5Seurat filter=lfs diff=lfs merge=lfs -text
saves/archive filter=lfs diff=lfs merge=lfs -text
saves/combined_contig.rds filter=lfs diff=lfs merge=lfs -text
saves/seurat_combined.h5Seurat filter=lfs diff=lfs merge=lfs -text
data/external_datasets/Cillo_TIL_CD8_only_filt.rds filter=lfs diff=lfs merge=lfs -text
data/external_datasets filter=lfs diff=lfs merge=lfs -text
data/external_datasets/Cillo_TIL_CD8_only.h5Seurat filter=lfs diff=lfs merge=lfs -text
data/external_datasets/pancancer_cd8_tumor_normal_harmonised.h5Seurat filter=lfs diff=lfs merge=lfs -text
data/external_datasets/Utility_dataset.h5Seurat filter=lfs diff=lfs merge=lfs -text
data/external_datasets/pancancer_cd8.h5Seurat filter=lfs diff=lfs merge=lfs -text
data/external_datasets/pancancer_cd8_tumor_normal.h5Seurat filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/run_info.json_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/spliced.filtered.bus_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX4_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/transcripts.txt_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1 filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/spliced.unfiltered.bus_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_unfiltered/adata.h5ad filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_unfiltered/unspliced.barcodes.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/inspect.json filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_ref_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_unfiltered/unspliced.genes.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/output.filtered.bus_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/output.unfiltered.bus_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/unspliced.filtered.bus_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/velocity_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_filtered/spliced.barcodes.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX3_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1 filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_filtered/unspliced.genes.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/filter_barcodes.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/inspect.spliced.json filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_filtered filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/kb_info.json filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/output.bus_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/___All_Errors.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_filtered/spliced.mtx filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/unspliced.unfiltered.bus_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_filtered/adata.h5ad filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_unfiltered/unspliced.mtx filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/inspect.unspliced.json filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_unfiltered/spliced.mtx filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_unfiltered filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_unfiltered/spliced.barcodes.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_filtered/spliced.genes.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX1/matrix.ec_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/__preprocessing_velocity/kb_count/GEX2_Error.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/10x_version2_whitelist.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_unfiltered/spliced.genes.txt filter=lfs diff=lfs merge=lfs -text
data/velocity filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_filtered/unspliced.barcodes.txt filter=lfs diff=lfs merge=lfs -text
data/velocity/preprocessing_velocity/kb_count/GEX1/counts_filtered/unspliced.mtx filter=lfs diff=lfs merge=lfs -text
